################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConferenceAPI/bin
/ConferenceAPI/obj
/ConferenceAPI/Properties
